@using Microsoft.AspNetCore.Http
@using WebModelCore.Menu;
@using  WebCore.Entities;
@using WebAppCoreNew.Common;
@using WebAppCore.Common
@model List<MenuModel>;
@{
    var host = $"{Context.Request.Scheme}://{Context.Request.Host}";
    var languages = (List<LanguageInfo>)ViewBag.Languages;
}
<style type="text/css">
    .nav-item {
        width: 100%;
    }
</style>

<div class="sidebar-content">
    <div class="nav-container">
        <nav id="main-menu-navigation" class="navigation-main">
            @{
                foreach (var item in Model)
                {
                    <div class="nav-item @(item.MenuChild.Any()?"has-sub":"")">
                        <a href="@(string.IsNullOrEmpty(item.Menu.ModID)?"#":Url.Action("Index","Home",new { modId = item.Menu.ModID }))">
                            @{
                                var icon = item.Menu.GetIconMenu(languages);
                                if (!string.IsNullOrEmpty(icon))
                                {
                                    <i class="fas icon @icon"></i>
                                }
                            }
                            <span>
                                @item.Menu.GetLanguageMenu(languages)
                                @*@if (item.MenuChild.Any())
                                    {
                                        <i class="fas fa-angle-left right"></i>
                                    }*@
                            </span>
                        </a>
                        @{
                            if (item.MenuChild.Any())
                            {
                                <div class="submenu-content">
                                    @foreach (var subItem in item.MenuChild)
                                    {
                                        if (subItem.Menu.ModID == "03514")
                                        {
                                            int a = 1;
                                        }
                                        <a href="@Url.Action("Index","Home",new {modId=subItem.Menu.ModID})" class="menu-item">
                                            @{
                                                var subIcon = subItem.Menu.GetIconMenu(languages);
                                                @*if (!string.IsNullOrEmpty(subIcon))
                                                    {
                                                        <i class="nav-icon fas icon @subIcon color-icon-sub-menu"></i>
                                                    }*@
                                            }
                                            @subItem.Menu.GetLanguageMenu(languages)
                                        </a>
                                    }

                                </div>
                            }
                        }
                    </div>
                }
            }
        </nav>
    </div>
</div>