@using WebCore.Entities;
@using WebAppCoreNew.Common;
@using WebModelCore;
@using WebModelCore.CodeInfo;
@using System.Collections.Generic;
@using WebModelCore.Common;
@using WebAppCore.Common
@model string;

@{
    var moduleInfoModel = (ModuleInfoModel)ViewBag.ModuleInfo;
    ViewBag.Title = moduleInfoModel.ModulesInfo == null ? "" : moduleInfoModel.ModulesInfo.ModuleName.GetLanguageTitle(moduleInfoModel.LanguageInfo);
    var moduleSearch = moduleInfoModel.ButtonsInfo;
    var moduleInfo = moduleInfoModel.ModulesInfo;
    var moduleFieldInfo = moduleInfoModel.FieldsInfo.Where(x => x.FieldGroup == FLDGROUP.COMMON.ToString()).Where(x => x.HideWeb != "Y").OrderBy(x => x.Order).ToList();
    var codeInfos = (List<CodeInfoModel>)ViewBag.DataCombobox;
    var dataControl = (List<dynamic>)ViewBag.DataControl;
    var edit = (bool)ViewBag.Edit;
    string keyEdit = @ViewBag.KeyEdit;
    var hasBarCodeControl = moduleFieldInfo.Where(x => x.ControlType == EControlType.BC.ToString()).Count();
}
<link href="~/css/image-fullscreen.css" rel="stylesheet" />
<link href="~/plugins/schedule/schedule.css" rel="stylesheet" />
@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-row-seperated padding-top-10", @id = "edit-validate-form" }))
{
    <input type="hidden" id="txtModId" name="ModId" value="@((string)ViewBag.ModId)" />
    <input type="hidden" id="txtSubModId" name="SubModId" value="@ViewBag.SubModId" />
    <input type="hidden" id="txtKeyEdit" name="KeyEdit" value="@ViewBag.KeyEdit" />
    <input type="hidden" id="txtModSearchId" name="ModSearchId" value="@ViewBag.ModSearchId" />
    <input type="hidden" id="txtFieldNameEdit" name="FieldNameEdit" value="@ViewBag.FieldNameEdit" />
    <input type="hidden" id="@ViewBag.FieldNameEdit" name="@ViewBag.FieldNameEdit" value="@ViewBag.KeyEdit" />
    if (!String.IsNullOrEmpty(Model))
    {
        <input type="hidden" value="@Model" id="txtError" />
    }
    if (moduleFieldInfo.Count > 1)
    {
        var row = moduleFieldInfo.Count / 2;
        var rowLast = moduleFieldInfo.Count % 2;
        int pageSlide = 0;
        for (int i = 0; i < row; i++)
        {
            var field1 = moduleFieldInfo[i * 2];
            var field2 = moduleFieldInfo[i * 2 + 1];
            <div class="row margin-top-10">
                <div class="col-12 col-lg-12">
                    @{
                        if (field1.ControlType == "SL")
                        {
                            pageSlide++;
                            <div class="form-group col-lg-6 col-6">
                                <div class="col-12 left">
                                    @Html.Raw(field1.GetHtmlControl(codeInfos, moduleInfoModel.LanguageInfo, "", dataControl, "", "", pageSlide))
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-lg-6 col-6">
                                <label class="col-lg-4 left col-4 control-label">
                                    @field1.GetLanguage(moduleInfoModel.LanguageInfo, moduleInfoModel.ModulesInfo.ModuleName)
                                    @if (field1.Nullable == EYesNo.N.ToString())
                                    {
                                        <span class="text-danger">*</span>
                                    }
                                </label>
                                <div class="col-lg-8 left col-8">
                                    @Html.Raw(field1.GetHtmlControl(codeInfos, moduleInfoModel.LanguageInfo, "", dataControl, moduleInfoModel.ModulesInfo.ModuleName, keyEdit))
                                </div>
                            </div>
                        }

                        if (field2.ControlType == "SL")
                        {
                            pageSlide++;
                            <div class="form-group col-lg-6 col-6">
                                <div class="col-12">
                                    @Html.Raw(field2.GetHtmlControl(codeInfos, moduleInfoModel.LanguageInfo, "", dataControl, "", keyEdit, pageSlide))
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-lg-6 col-6">
                                <label class="col-4 col-lg4 left control-label">
                                    @field2.GetLanguage(moduleInfoModel.LanguageInfo, moduleInfoModel.ModulesInfo.ModuleName)
                                    @if (field2.Nullable == EYesNo.N.ToString())
                                    {
                                        <span class="text-danger">*</span>
                                    }
                                </label>
                                <div class="col-8 col-lg-8 left">
                                    @Html.Raw(field2.GetHtmlControl(codeInfos, moduleInfoModel.LanguageInfo, "", dataControl, moduleInfoModel.ModulesInfo.ModuleName, keyEdit))
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        }
        if (rowLast > 0)
        {
            var field1 = moduleFieldInfo[moduleFieldInfo.Count - 1];
            if (field1.ControlType == "SL")
            {
                pageSlide++;
                <div class="form-group col-lg-6 col-6">
                    <div class="col-12 left">
                        @Html.Raw(field1.GetHtmlControl(codeInfos, moduleInfoModel.LanguageInfo, "", dataControl, "", keyEdit, pageSlide))
                    </div>
                </div>
            }
            else
            {
                <div class="row margin-top-10">
                    <div class="col-12 col-lg-12">
                        <div class="form-group col-lg-6 col-6">
                            <label class="col-lg-4 left col-4 control-label">
                                @field1.GetLanguage(moduleInfoModel.LanguageInfo, moduleInfoModel.ModulesInfo.ModuleName)
                                @if (field1.Nullable == EYesNo.N.ToString())
                                {
                                    <span class="text-danger">*</span>
                                }
                            </label>
                            <div class="col-lg-8 left col-8">
                                @Html.Raw(field1.GetHtmlControl(codeInfos, moduleInfoModel.LanguageInfo, "", dataControl, "", keyEdit))
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        if (!((string)ViewBag.ModId == "04H50") && !((string)ViewBag.ModId == "02519"))
        {
            <div class="col-12 col-lg-12 text-center">
                <div>
                    @if (edit)
                    {
                        <button type="submit" class="btn btn-success save"><i class="fa fa-save"></i> &nbsp; Lưu</button>
                        <button type="button" class="btn call-realtime  d-none"><i class="fa fa-save"></i> &nbsp; CallRealtime</button>
                    }
                    @if (!string.IsNullOrEmpty(ViewBag.ModSearchId))
                    {
                        if (ViewBag.ModSearchId == "03513")
                        {
                            <a href="@Url.Action("Search","Home",new { modId=ViewBag.ModSearchId,parramMods=ViewBag.KeyEdit})" class="btn btn-default"><i class="fa close"></i> &nbsp; Hủy</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index","Home",new { modId=ViewBag.ModSearchId,parr=ViewBag.KeyEdit})" class="btn btn-default"><i class="fa close"></i> &nbsp; Hủy</a>
                        }
                    }
                </div>
            </div>
        }
    }
    else
    {
        <div class="row margin-top-10">
            <div class="col-12 col-lg-12">
                @{
                    if (moduleFieldInfo != null && moduleFieldInfo.Any())
                    {
                        var field1 = moduleFieldInfo.First();
                        var pageSlide = 0;
                        if (field1.ControlType == "SL")
                        {
                            pageSlide++;
                            <div class="form-group col-lg-12 col-12">
                                <div class="col-12 left">
                                    @Html.Raw(field1.GetHtmlControl(codeInfos, moduleInfoModel.LanguageInfo, "", dataControl, "", "", pageSlide))
                                </div>
                            </div>
                        }
                        else if (field1.ControlType == "IMG")
                        {
                            <div class="form-group col-lg-12 col-12">
                                <label class="col-lg-2 left col-2 control-label">
                                    @field1.GetLanguage(moduleInfoModel.LanguageInfo, moduleInfoModel.ModulesInfo.ModuleName)
                                    @if (field1.Nullable == EYesNo.N.ToString())
                                    {
                                        <span class="text-danger">*</span>
                                    }
                                </label>
                                <div class="col-lg-10 left col-10 row">
                                    @Html.Raw(field1.GetHtmlControl(codeInfos, moduleInfoModel.LanguageInfo, "", dataControl, moduleInfoModel.ModulesInfo.ModuleName, keyEdit))
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-lg-12 col-12">
                                <label class="col-lg-4 left col-4 control-label">
                                    @field1.GetLanguage(moduleInfoModel.LanguageInfo, moduleInfoModel.ModulesInfo.ModuleName)
                                    @if (field1.Nullable == EYesNo.N.ToString())
                                    {
                                        <span class="text-danger">*</span>
                                    }
                                </label>
                                <div class="col-lg-8 left col-8 row">
                                    @Html.Raw(field1.GetHtmlControl(codeInfos, moduleInfoModel.LanguageInfo, "", dataControl, moduleInfoModel.ModulesInfo.ModuleName, keyEdit))
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            @if (((string)ViewBag.ModId != "04H50" && (string)ViewBag.ModId != "02520") && (string)ViewBag.ModId != "02519")
            {
                <div class="col-12 col-lg-12 text-center">
                    <div>
                        @if (edit)
                        {
                            <button type="submit" class="btn btn-success save"><i class="fa fa-save"></i> &nbsp; Lưu</button>
                            <button type="button" class="btn call-realtime  d-none"><i class="fa fa-save"></i> &nbsp; CallRealtime</button>
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.ModSearchId))
                        {
                            if (ViewBag.ModSearchId == "03513")
                            {
                                <a href="@Url.Action("Search","Home",new { modId=ViewBag.ModSearchId,parramMods=ViewBag.KeyEdit})" class="btn btn-default"><i class="fa close"></i> &nbsp; Hủy</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index","Home",new { modId=ViewBag.ModSearchId,parr=ViewBag.KeyEdit})" class="btn btn-default"><i class="fa close"></i> &nbsp; Hủy</a>
                            }
                        }
                    </div>
                </div>
            }
            else if ((string)ViewBag.ModId == "02520")
            {
                var keyEdit1 = ViewBag.KeyEdit;
                var showPrint = ViewBag.ShowPrint;
                if (!string.IsNullOrEmpty(keyEdit) && showPrint == "1")
                {
                    var key = (List<ButtonParamInfo>)Newtonsoft.Json.JsonConvert.DeserializeObject<List<ButtonParamInfo>>(keyEdit1);
                    <a class="btnPrint btn btn-default btn-print btn-print-list-qc" href="@Url.Action("PrintAndExportQc","QC",new {barcode=key.First().Value})"><i class="fa fa-print"></i>&nbsp;In dữ liệu</a>
                }

            }
        </div>
    }
}
<input type="hidden" id="txtSuccess" value="@ViewBag.Success" />
<input type="hidden" id="urlAjaxLoadModSchedule" value="@Url.Action("AjaxLoadModSchedule",new { area = "Admin" })" />
@if (codeInfos.Any() && codeInfos.Where(x => x.ControlType == EControlType.SCL.ToString()).Any())
{
    var scls = codeInfos.Where(x => x.ControlType == EControlType.SCL.ToString());
    foreach (var item in scls)
    {
        <input type="hidden" id="@("calendar-schedule-"+item.Name)" value="@Newtonsoft.Json.JsonConvert.SerializeObject(item.ScheduleControls)" />
    }
    <div class="modal" tabindex="-1" role="dialog" id="modal-calendar-schedule">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="body-schedule">

                </div>
            </div>
        </div>
    </div>
}

@if ((string)ViewBag.ModId == ConstMod.ModViewPdf)
{
    <input type="hidden" id="txtGroup" value="PrivateGroup" />
}
@section scripts{
    <script>
        $(document).ready(function () {
            $("#edit-validate-form").validate();
            $(".text-number").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    bootbox.alert("Đây là trường số");
                    return false;
                }
            });
        });
    </script>

}
@if (moduleInfo != null && moduleInfo.IsRealTime == "Y")
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Home/realtime.js"></script>
}
@if (moduleInfo != null && moduleInfo.ModuleID == "05H10")
{
    <script>
        $(".save").click(function () {
            $(".call-realtime").click();
        });
        function LoadSop() {
            console.log('ff');
        }
    </script>

}

<script src="~/plugins/schedule/schedule.js"></script>
<script src="~/js/calendar-schedule.js"></script>
<script src="~/js/Home/Edit.js"></script>
<script src="~/js/CommonJs/EventControl.js"></script>